KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_HOST_PORT=9092
KAFKA_PARTITIONS=3
KAFKA_HOT_TOPIC_PARTITIONS=6
KAFKA_PRODUCER_BACKEND=kafka-python

COLLECT_SYMBOLS=BTCUSDT,ETHUSDT
METRICS_PORT=8889

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_USER=coinwhale
CLICKHOUSE_PASSWORD=CHANGE_ME
CLICKHOUSE_DBT_USER=coinwhale
CLICKHOUSE_DBT_PASSWORD=CHANGE_ME

SPARK_UI_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_VERSION=3.5.8
SPARK_SQL_SHUFFLE_PARTITIONS=8
SPARK_DRIVER_MEMORY=1g
SPARK_EXECUTOR_MEMORY=1g
SPARK_EXECUTOR_CORES=1
SPARK_CORES_MAX=2
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2

KAFKA_EXPORTER_PORT=9308
PROMETHEUS_PORT=9090
