__pycache__/
*.py[cod]
.venv/
.venv-dbt/
.env
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

data/
logs/
airflow/logs/
spark_jobs/checkpoints/
spark_jobs/dlq/
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/profiles.yml

*.parquet
*.csv
*.db
*.sqlite*
.DS_Store
